input {
    font-size: calc(10px + 2vmin);
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid gray;
}
input:focus-visible {
    outline: none;
}
input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 12px;
}
.completed {
    text-decoration: line-through;
}
.delete-button {
    height: 18px;
}
.delete-button:hover {
    cursor: pointer;
}
.priority-icon {
    margin-left: 8px;
    height: 20px;
}
.high { color: rgb(244, 67, 54); }
.medium { color: rgb(255, 193, 7); }
.low { color: rgb(76, 175, 80); }
.menu-item > span { margin-left: 10px}